# Configuration for Vector
# Generated via Ansible Template

data_dir = "/var/lib/vector"

[sources.in]
type = "file"
include = [ "/var/log/syslog", "/var/log/auth.log" ]
# Исключаем логи самого Vector из чтения, чтобы диск снова не забился:
exclude = [ "/var/log/vector.log", "/var/log/upstart/vector.log" ]
ignore_not_found = true

[sinks.clickhouse_out]
type = "clickhouse"
inputs = [ "in" ]
# Ansible автоматически возьмет реальный IP-адрес из группы clickhouse вашего prod.yml:
endpoint = "http://{{ hostvars[groups['clickhouse']|first]['ansible_host'] }}:8123"
database = "logs"
table = "syslog"
skip_unknown_fields = true


